.login{
    background-color: #f8f9fa;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headForm{
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.headForm p{
    border: 2px solid #0d6efd;
    height: 46.38px;
    margin: 0; 
}


.headForm img {
    max-width: 30px;
    height: auto;
}

@media (max-width: 768px) {
    .col.d-none.d-md-block {
        display: none !important;
    }
}


.container-1{
    padding: 15px;
}

.wordLogin{
    padding: 40px 0;
}

.forgetPassword{
    text-decoration: none;
}

.forgetPassword:hover{
    text-decoration: underline;
}

.wordBottom {
    margin-top: 32px;
    gap: 10px;
    text-align: center;
}

.text-color{
    text-decoration: none;
}

.text-color:hover{
    text-decoration: underline;
}

.otp-container {
    display: flex;
    justify-content: center;
    gap: 7px; /* المسافة بين المربعات */
    margin: 20px 0; /* مسافة حول المربعات */
}

.otp-input {
    width: 45px; /* العرض */
    height: 45px; /* الارتفاع لجعلها مربعة */
    text-align: center; /* محاذاة النص إلى المنتصف */
    font-size: 1.5rem; /* حجم الخط */
    border: 1px solid #ccc; /* حدود */
    border-radius: 5px; /* زوايا مستديرة */
}

.otp-input:focus {
    outline: none; /* إزالة الحدود الزرقاء الافتراضية */
    border-color: #007bff; /* تغيير لون الحدود عند التحديد */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* إضافة تأثير */
}

.text-head{
    color: #022068;
}